[submodule "language-analytics"]
	path = language-analytics
	url = https://github.com/jaco4873/cds-language-analytics-2025.git
[submodule "visual-analytics"]
	path = visual-analytics
	url = https://github.com/jaco4873/cds-visual-analytics-2025.git
